<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>
<body>
    {% if addresses %}
        <h1>Endereço</h1>
        <table>
            <tr>
                <th>CEP</th>
                <th>Cidade</th>
                <th>UF</th>
                <th>Opções</th>
            </tr>
            {% for address in addressess %}
                <tr>
                    <td>{{ address.cep }}</td>
                    <td>{{ address.localidade }}</td>
                    <td>{{ address.uf }}</td>
                    <td>
                        <button><a href="{% url 'endereco/atualizar' address.id %}">Editar</a></button>
                        <button><a href="{% url 'endereco/detalhar' address.id %}">Detalhes</a></button>
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
</body>
</html>