<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remover</title>
</head>
<body>
    <h1>Confirme a remoção:</h1>
    <form action="{% url 'endereco:deletar' address.id %}" method="post">
        {% csrf_token %}
        <p>CEP: {{ address.cep }}</p>

        <button><a href="{% url 'endereco:listar' %}">Listar</a></button>
        <button><a href="{% url 'endereco:deletar' %}">Remover</a></button>
        <button type="submit">Remover</button>
    </form>
</body>
</html>