<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes</title>
</head>
<body>
    <h1>Detalhes:</h1>
    <p>CEP: {{ address.cep }}</p>
    <p>Logradouro: {{ address.logradouro }}</p>
    <p>Bairro: {{ address.bairro }}</p>
    <p>Cidade: {{ address.cidade }}</p>
    <p>UF: {{ address.uf }}</p>

    <button><a href="{% url 'endereco:atualizar' address.id %}">Editar</a></button>
    <button><a href="{% url 'endereco:listar' address.id %}">Lista</a></button>
</body>
</html>